[build]
  base = "website"
  command = "npm install && npm run build"
  publish = "website/build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
